.modal {
  position: absolute;
  padding: 24px;
  right: -172px;
  top: 30px;
  background: #ffffff;
  display: flex;
  width: 360px;
  height: 256px;
  z-index: 1;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.empty {
  width: 360px;

  .h1 {
    color: #1d2026;
    font-size: 16;
    font-weight: 700;
    margin-bottom: 105px;
  }
  p {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;

    color: #69707d;
    font-weight: 700;
  }
}

.product-box {
  display: flex;
  width: 360px;
  flex-direction: column;
  .h1 {
    color: #1d2026;
    font-size: 16;
    font-weight: 700;
  }
  .product-cart {
    margin-top: 52px;
    margin-bottom: 24px;
    .cart-text {
      display: flex;
      flex-direction: column;
      margin-right: auto;
      gap: 10px;
    }
    .price {
      color: #1d2026;
      font-size: 16px;
      font-weight: 700;
    }
    .name {
      color: #69707d;
      font-size: 16px;
      font-weight: 400;
    }
    .delete {
      background: inherit;
      border: none;
      color: #69707d;
      cursor: pointer;
    }
    display: flex;
  }
}

.btnClose {
  width: 312px;
  height: 56px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  background: #ff7e1b;
  padding: 18px 110px;
}
.image {
  border-radius: 15px;
}
.cart-taps {
  margin-top: 32px;
  display: flex;
  gap: 31px;

  img {
    cursor: pointer;
    border-radius: 10px;
    border: none;
    &&:active {
      opacity: 0.4;
      border: 1px solid #ff7e1b;
    }
    &&:hover {
      opacity: 0.4;
    }
  }
}
.cart {
  height: 565px;
  display: flex;
  margin-top: 125px;
  justify-content: center;
  align-items: center;
  gap: 125px;
  padding-bottom: 100px;
}

.cart__content {
  width: 445px;
}
.cart__text {
  h2 {
    color: #ff7e1b;
    font-size: 13px;
    font-weight: 700;
  }
  h1 {
    margin-top: 24px;
    font-weight: 700;
    font-size: 44px;
  }
  p {
    margin-top: 32px;
    color: #69707d;
    font-size: 16px;
  }
  .price {
    margin-top: 24px;
    margin-bottom: 32px;
    color: #1d2026;
    font-size: 28px;
    font-weight: 700;
  }
}
.card-add {
  margin-bottom: 50px;
  .plus {
    background: #f6f8fd;
    display: flex;
    width: 157px;
    gap: 30px;
    align-items: center;
    button {
      background: #f6f8fd;
      border: none;
      color: #ff7e1b;
      padding: 10px;
    }
  }
  display: flex;
  .btn-primary {
    cursor: pointer;
    padding: 19px 76px;
    background-color: #ff7e1b;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
  }
}
